*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: black;
    color:  white;
    position: relative !important;
   
   
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

.video-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

#page_acceuil{

    display: none;
}


main{
    margin-bottom: 100px !important;

}

/******* nav bar  ********/
nav{

    background-color: black;
    opacity: 0.8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
}

nav > img{
    max-width: 3.5em;
    margin-top: 10px;
    opacity: 1 !important;
}

a > img{
    width: 60%;
    margin: 10px;
    margin-top: 20px;
    margin-right: 10px;
}


/******************** header **********************************/

header {

    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

header img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 20px 0px;
}


header img, video {
    max-width: 100%;
    max-height: 100%;
    transition: 2s all;
}

header video {

    width: 100%;
}


#title_video{

    
    z-index: 1;
    margin-top: 160px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
}

.blurred {
    transition: filter 2s;
    filter: blur(0);
}
.apply-blur {
    filter: blur(20px);
}

.btn_header {

    background-color: red !important;
    color: white !important;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex !important;
    flex-flow: column wrap!important;
}

.btn_header:hover{

    outline: 1px solid white !important;
    background-color: white !important;
    color: red !important;

}

/**************** LES FILMS TENDANCES *****************************/



section {

    width: 100%;
    height: 100%;
}
section > p {
    
    margin-top: 80px;
    margin-left: 10px;

}

#film_tendence{

    height: 200px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.img_film_tendance > a{ 
 
  height: 100%;
  width: 100%;
  margin: 0px 20px;
  
    
}


.img_film_tendance img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 120px;
    margin:auto;
   
    
}

.img_film_tendance{

    width: 100%;
    
}


/******************* LES SERIES TENDANCES *******************************/

#serie_tendence{

    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.img_serie_tendance > a{ 
 
  width: 100%;
  margin: 0px 20px;
  
    
}


.img_serie_tendance img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 190px;
    margin:auto;
   
    
}

.img_serie_tendance{

    width: 100%;
    
}

/******************* TOP FILMS *******************************/

#top_films{

    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.img_top_film > a > span {

    color: white !important;
    text-decoration: none !important;
    position: absolute;
    top: -5%;
    font-size: 20em; /* Taille de la lettre */
    color: transparent !important; /* Couleur du texte transparent */
     -webkit-text-stroke: 2px white; /* Couleur et épaisseur du contour */
     left: -30px;
     z-index: 1;
     opacity: 0.4;
     text-shadow: 0px 0px 20px  white;
    


}

.img_top_film > a{ 
 
  width: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  
    
}

.img_top_film img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 190px;
    margin: 0px 190px;
    
}


.img_top_film{

    width: 100%;
}

/**************** FILMS BIENTOT *************************/

#film_bientot{

    height: 370px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.img_Bientot_film > a{ 
 
  width: 100%;
  margin: 0px 20px;
  
}


.img_Bientot_film img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 200px;
    margin:auto;
   
    
}

.img_Bientot_film{

    width: 100%;
    
}

/******************* TOP SERIES ET EMISSIONS TV *******************************/

#top_series{

    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.img_top_serie > a > span {

    color: white !important;
    text-decoration: none !important;
    position: absolute;
    top: -5%;
    font-size: 20em; /* Taille de la lettre */
    color: transparent !important; /* Couleur du texte transparent */
     -webkit-text-stroke: 2px rgb(215, 208, 208); /* Couleur et épaisseur du contour */
     left: -30px;
     z-index: 0;
     opacity: 0.4;
     text-shadow: 0px 0px 20px  rgb(244, 30, 30);
    


}

.img_top_serie > a{ 
 
  width: 100%;
  margin: 0px 20px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  
    
}

.img_top_serie img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 190px;
    margin: 0px 190px;
    
}


.img_top_serie{

    width: 100%;
}


/******************* TOP ACTEUR ET ACTRICE *******************************/

#acteur_top{

    height: 100%; /* Ajustez la hauteur selon vos besoins */
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img_top_acteur > a > span {

    color: white !important;
    font-size: 1.2em; 
    color: white;
    text-align: center;
   
}

.img_top_acteur > a{ 
    
text-decoration: none !important;
  display: flex;
  flex-flow: wrap column;
  margin: 10px 20px ;
  
    
}

.img_top_acteur img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 120px;
    border: 1px solid red;
    margin: auto;
    
}

.img_top_acteur img:hover{ 
    
   
    border: 1px solid white;
    
}

/**************** FOOTER *************************/
footer{

    width: 100%;
    height: 100px;
    border-top: 5px solid gray;
    opacity: 0.5;
    position: absolute;
    bottom: -300px;
    padding: 20px 0px;
    
    
}


footer > section {

    display: flex;
    justify-content: space-around;
    flex-flow:  wrap  !important;
    width: 100%;
    margin-bottom: 100px;
}

footer > section > div {

    display: flex;
    flex-flow:  wrap column;
    margin: auto;

}
footer p {

    margin-top: 5px;
    
}


footer > span{

  
   
}