*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: black;
    color:  white;
}

/******* nav bar  ********/
nav{

    background-color: black;
    opacity: 0.5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
}

nav > img{
    max-width: 3.5em;
    margin-top: 10px;
    opacity: 1 !important;
}

a > img{
    width: 60%;
    margin: 10px;
    margin-top: 20px;
    margin-right: 10px;
}


/******************** header **********************************/

header {

    top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
}

header img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 20px 0px;
}


header img, video {
    max-width: 100%;
    max-height: 100%;
    transition: 2s all;
}

header video {

    width: 100%;
}


#title_video{

    
    z-index: 1;
    margin-top: 160px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    text-align: center;
}

.blurred {
    transition: filter 2s;
    filter: blur(0);
}
.apply-blur {
    filter: blur(20px);
}

.btn_header {

    background-color: red !important;
    color: white !important;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align: center;
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    display: flex !important;
    flex-flow: column wrap!important;
}

.btn_header:hover{

    outline: 1px solid white !important;
    background-color: white !important;
    color: red !important;

}

/**************** LES FILMS TENDANCES *****************************/



section {

    width: 100%;
    height: 100%;
}
section > p {
    
    margin-top: 80px;
    margin-left: 10px;

}

#film_tendence{

    height: 200px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.img_film_tendance > a{ 
 
  height: 100%;
  width: 100%;
  margin: 0px 20px;
  
    
}


.img_film_tendance img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 100px;
    margin:auto;
   
    
}

.img_film_tendance{

    width: 100%;
    
}


/***************LES SERIES TENDANCES ****************************/

#serie_tendence{

    height: 300px; /* Ajustez la hauteur selon vos besoins */
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.img_serie_tendance > a{ 
 
  width: 100%;
  margin: 0px 20px;
  
    
}


.img_serie_tendance img{ 
    
    border-radius: 10px;
    height: 100%;
    width: 150px;
    margin:auto;
   
    
}

.img_serie_tendance{

    width: 100%;
    
}




/**************** FOOTER *************************/
footer{

    width: 100%;
    height: 100px;
    border-top: 1px solid red;
    margin-top: 200px;
}